[Unit]
Description=Krabby bench watchdog timer
Requires=krabby-bench.service

[Timer]
OnBootSec=60
OnUnitActiveSec=60
AccuracySec=10

[Install]
WantedBy=timers.target
